body{
	background-image: url(./images/bgimg1.jpg);
	/* background-size:100vw; */
	background-repeat: no-repeat;
}

.container {
	background-color: white;
	margin-top: 30px;
	border-radius: 5px 5px;
	/* opacity: .8; */
	max-width: fit-content;
	min-width: fit-content;
	box-shadow: 0 4px 8px 0 rgba(158, 219, 138, 0.2), 0 6px 20px 0 rgba(188, 38, 38, 0.19);
}

.registration-form {
	width: 900px;
  margin: auto;
}

.title {
	text-align: center;
}

.submit-btn {
	text-align: center;
}


/* .valid-feedback{
    display: block;
}
.invalid-feedback{
    display: block;
} */